<div class="main-divider">
  <div class="first-container">
    <div class="lables">
      <label for="">SO Number</label>
      <input type="text" />
    </div>
    <div class="lables">
      <label for="">Item No</label>
      <input type="text" />
    </div>
    <div class="lables">
      <label for="">Estimated Delivery Date</label>
      <input type="text" />
    </div>
  </div>


    <div class="second-container">
       
        <div>
          <div class="lables">
            <label class="label-for-MWH" for="" style="color: blue;font-weight: 650;">Main Warehouse Details</label>

          </div>
          <hr>
          <div class="lables">
            <label for="">Item No</label>
            <input type="text" />
          </div>
    
          <div class="lables">
            <label for="">Estimated Delivery Date</label>
            <input type="text" />
          </div>
          <div class="lables">
            <label for="">Estimated Delivery Date</label>
            <input type="text" />
          </div>
        </div>
    
        <div>
          <div class="lables">
            <label class="label-for-MWH" for=""style="color: blue;font-weight: 650;">Main Warehouse 2 Details</label>
      
          </div>
          <hr>
          <div class="lables">
            <label for="">Item No</label>
            <input type="text" />
          </div>
          <div class="lables">
            <label for="">Estimated Delivery Date</label>
            <input type="text" />
          </div>
          <div class="lables">
            <label for="">Estimated Delivery Date</label>
            <input type="text" />
          </div>
        </div>
    
        <div>
          <div class="lables">
            <label class="label-for-MWH" for=""style="color: blue;font-weight: 650;">Main Warehouse 3 Details</label>

          </div>
          <hr>
          <div class="lables">
            <label for="">Item No</label>
            <input type="text" />
          </div>
    
          <div class="lables">
            <label for="">Estimated Delivery Date</label>
            <input type="text" />
          </div> 
          
          <div class="lables">
            <label for="">Estimated Delivery Date</label>
            <input type="text" />
          </div> 
        </div>

      </div>
      <div class="intermediate-warehouse">
        <div>
            <div class="lables">
              <label class="label-for-MWH" for="" style="color: blue;font-weight: 650;">Intermediate Warehouse Details</label>
  
            </div>
            <hr>
            <div class="lables">
              <label for="">Item No</label>
              <input type="text" />
            </div>
      
            <div class="lables">
              <label for="">Estimated Delivery Date</label>
              <input type="text" />
            </div>
            <div class="lables">
              <label for="">Estimated Delivery Date</label>
              <input type="text" />
            </div>
          </div>
      
          <div>
            <div class="lables">
              <label class="label-for-MWH" for=""style="color: blue;font-weight: 650;">Showroom Stock</label>
        
            </div>
            <hr>
           
            <div class="lables">
              <label for="">Estimated Delivery Date</label>
              <input type="text" />
            </div>
      
          </div>
      </div>
      <div class="final-divider">
        <div>
            <div class="lables">
           
  
            </div>
            <hr>
      
      

            <div class="lables">
              <label for="">Estimated Delivery Date</label>
              <input type="text" />
            </div>
          </div>
      
          <div>
            <div class="lables">
             
        
            </div>
            <hr>

       
            <div class="lables">
              <label for="">Estimated Delivery Date</label>
              <input type="text" />
            </div>
           
          </div>
          
      </div>
 
  </div>


