<div class="main-divider">
  <div class="left-container">
    <div class="lables">
      <label for="">SO. . .</label>
      <input type="text" />
    </div>
    <div class="lables">
      <label for="">Item...</label>
      <input type="text" />
    </div>
    <div class="lables">
      <label for="">Item...</label>
      <input type="text" />
    </div>
  </div>

  <div class="right-container">
    <div class="lables">
      <label for="">Order Qty</label>
      <input type="text" />
    </div>
    <div class="lables">
      <label for="">Reserved Qty...</label>
      <input type="text" />
    </div>
    <div class="lables">
      <label for="">Qty. To Reserve...</label>
      <input type="text" />
    </div>
  </div>
</div>
<div class="second-container">
  <div class="lables">
    <label for="">Available Free Stock</label>
    <label for="" class="lablestwo">Quantity Reserved /PR</label>

    <label for="" class="lablestwo">Quantity Reserve /PR</label>
  </div>
  <div>
    <label for="">DAMRO-Nittbuwa</label>
    <input type="text" />
    <input type="text" />
    <input type="text" />
    <button>Reserve</button>
    <button>Cancel</button>
  </div>
  <div>
    <label for="">DAMRO-Nittbuwa</label>
    <input type="text" />
    <input type="text" />
    <input type="text" />
    <button>Reserve</button>
    <button>Cancel</button>
  </div>
  <div>
    <label for="">DAMRO-Nittbuwa</label>
    <input type="text" />
    <input type="text" />
    <input type="text" />
    <button>Reserve</button>
    <button>Cancel</button>
  </div>
  <div>
    <label for="">DAMRO-Nittbuwa</label>
    <input type="text" />
    <input type="text" />
    <input type="text" />
    <button>Reserve</button>
    <button>Cancel</button>
  </div>
  <div>
    <label for="">DAMRO-Nittbuwa</label>
    <input type="text" />
    <input type="text" />
    <input type="text" />
    <button>Reserve</button>
    <button>Cancel</button>
  </div>
</div>
<div class="second-main-divider">
  <div>
    <label for="">DAMRO-Nittbuwa</label>
    <input type="text" />
    <input type="text" />
    <input type="text" />
    <button>Reserve</button>
    <button>Cancel</button>
  </div>
</div>

<div class="third-main-divider">
  <div class="lables">
    <label for="">Available Free Stock</label>
    <label for="" class="lablestwo">Direct Delivery</label>

    <select name="" id="" class="lables">
      <option value="">NO</option>
      <option value="">Yes</option>
    </select>
  </div>

  <div class="div-last">
    <label for="">Other Showrooms</label>
    <input type="text" />

    <label for="">Estimated Delivery Date</label>
    <input type="text" />
  </div>

  <div>
    <label for="">Other IM Warehouses</label>
    <input type="text" />
    <label for="">Factory Reference No.</label>
    <input type="text" />
  </div>
</div>
