.main-divider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 3px solid red;
  margin: 1%;
}
.left-container {
  border: 5px solid green;
  padding: 1%;
  margin: 1%;
  
  div {
    margin-left: 1%;
   
  }
  input {
    margin-left: 1%;
  }
  .lables{
   // border: 2px solid orange;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

.right-container {
  border: 5px solid blue;
  margin: 1%;
  padding: 1%;
  
  div {
    margin-left: 1%;
  }
  input {
    margin-left: 20px;
  }

  .lables{
   // border: 2px solid orange;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}
.second-container {
  border: 1px solid black;
  margin: 1%;
  padding: 1%;
  display: grid;
  grid-template-columns: 1fr;
  input {
    margin: 1%;
  }
  button {
    margin: 1%;
  }
}
.second-main-divider {
  border: 1px solid black;
  margin: 1%;
  padding: 1%;
  input {
    margin: 1%;
  }
  button {
    margin: 1%;
  }
}

.third-main-divider {
  border: 1px solid black;
  margin: 1%;
  padding: 1%;
  text-align: left;

  input {
    margin: 1%;
  }
}
.lables {
  margin: 1%;
  margin-left: 12%;
}
.div-last {
  margin: 1%;
  margin-left: 1%;
}
.lablestwo {
  margin: 1%;
  margin-left: 5%;
}
.first-inputs {
  input {
    margin-left: 10%;
  }
}


label, input{
  border: 2px solid orange;
}
